div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container-fluid
      a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="#") CIeNET
      a.brand(href="#") Comverse
      div.nav-collapse.pull-right
        ul.nav
          li.active
            a(href="#") Home
          li
            a(href="#") About
          li
            a(href="#") Contact Us

div.container-fluid
  div.row-fluid
    div.span2
      div#sidebar.well.sidebar-nav
        ul#sidebarul.nav.nav-list
    div.span10
      div
        ul#workTab.nav.nav-tabs
          //li#welTab.active 
          //  a(href="#welCont",data-toggle="tab") Welcome
        div#tabCont.tab-content
          //div#welCont.tab-pane.active
            //p Welcome to Comverse Cienet

