div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container-fluid
      a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="#") CIeNET
      a.brand(href="#") Comverse
      div.nav-collapse.pull-right
        ul.nav
          li.active
            a(href="#") Home
          li
            a(href="#") About
          li
            a(href="#") Contact Us

div.container-fluid
  div.row-fluid
    div.span2
      div#sidebar.well.sidebar-nav
        ul.nav.nav-list
          //li.nav-header Leave Manage
          //li#apply_leave
          //  a(href="#") Apply Leave
          //li#query_leave
          //  a(href="#") Query Leave
    div.span10
      div
        ul#workTab.nav.nav-tabs
          //li#welTab.active 
          //  a(href="#welCont",data-toggle="tab") Welcome
        div#tabCont.tab-content
          //div#welCont.tab-pane.active
            //p Welcome to Comverse Cienet

script#apply_tab_tmp(type="text/template")
  li#appTab
    a(href="#appCont", data-toggle="tab") Apply Leave
      i.icon-remove-sign

script#apply_cont_tmp(type="text/template")
  div#appCont.tab-pane
    p Apply Leave

script#query_tab_tmp(type="text/template")
  li#quTab
    a(href="#quCont", data-toggle="tab") Query Leave
      i.icon-remove-sign

script#query_cont_tmp(type="text/template")
  div#quCont.tab-pane
    p Query Leave

